{% extends './base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card card-singnin my-5">
                <div class="card-body col-md-12 col-lg-12">
                    <img class="card-img position-sticky" src="static/img/logoninja.png" style="max-width: 4rem;">
                        <h4>
                            GP System, Media & Games inc.
                        </h4>
                    </img>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 mx-auto">
            <div class="card card-singnin">
                <div class="card-body col-md-12 col-lg-12">
                    <h4>
                        Ya tienes una Cuenta?
                    </h4>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="location.href='/login'" type="submit">
                        Ingresar
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mx-auto">
            <div class="card card-singnin">
                <div class="card-body col-md-12 col-lg-12">
                    <h4>
                        Eres Nuevo?
                    </h4>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="location.href='/reg'" type="button">
                        Registrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="modal-footer col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card-body col-md-12 col-lg-12">
            </div>
        </div>
    </div>
</div>
{% endblock %}
